* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(23, 29, 53, 0.6),
      rgba(22, 30, 65, 0.7)
    ),
    url(1.jpg);
  background: cover center no-repeat;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 25px;
}
nav img {
  height: 100px;
  width: 230px;
}
.nav-links ul {
  display: flex;
  justify-content: space-around;
}
.nav-links ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 8px 12px;
}
li a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #299deb;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.text-box input {
  size: 60px;
  height: 30px;
  font-family: "PT Sans", sans-serif;
  width: 50%;
  border: 2px solid rgb(178, 221, 240);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  background-color: rgb(178, 221, 240);
}
.text-box h1 {
  color: rgb(241, 248, 255);
  font-size: 45px;
  padding-top: 13px;
}
.text-box p {
  font-size: 19px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-weight: 250;
}
.btn-1 {
  border: 2px solid gray;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 10px;
  color: white;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}
.btn-1:hover {
  border: 2px solid rgb(79, 196, 241);
  background-color: rgb(79, 196, 241);
  transition: 1s;
  color: black;
}
nav .openmenu {
  font-size: 1.5rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}
nav .closemenu {
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}
#totop {
  font-size: 50px;

  color: rgb(39, 162, 211);
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}
#totop:active {
  color: rgb(82, 189, 231);
}

/*---- Services---*/
.row {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
.service {
  margin-top: 60px;
}
.hservice {
  text-align: center;
  font-size: 2.3rem;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 60px;
}
.box {
  width: 26%;
  padding: 25px;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(157, 218, 241, 0.25);
  width: 20%;
  margin: 7px;
  border-radius: 25px;
}
.box:hover {
  box-shadow: 0 0 20px 0px rgb(95, 137, 155);
  transition: 0.5s;
  transform: translateY(-15px);
}
.box img {
  width: 300px;
  height: 160px;
  padding: 10px 5px;
}

.box h2 {
  padding: 5px;
}
.box p {
  padding: 13px;
}
.box a {
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  color: black;
}
.box a:hover {
  background-color: lightcoral;
  transition: 1s;
  box-shadow: 2px 2px 2px 0px rgb(5, 2, 2);
  border: 1px solid lightcoral;
  border-radius: 5px;
}


/* new slider*/
.box-image{
    height: 150px;
    width: 230px;
}
.box-image img{
    width: 100%;
    height: 100%;
}
.box-c{
    background: rgba(222, 142, 224, 0.3);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 25px;
    line-height: 2rem;
    color: rgb(141, 14, 135);
    font-family: "Merriweather", serif;
    font-family: "PT Sans", sans-serif;
    height:400px;
    margin: 8px;
}
.box-c:hover{
    box-shadow: 0 0 20px 0px rgba(201, 53, 204, 0.9);
    transition: 0.5s;
    transform: translateY(-15px);
}
.row-c {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
  }

  .book-now-c{
      size: 25px;
      background-color: rgb(189, 89, 192);
      padding: 5px;
      border:2px solid rgb(189, 89, 192) ;
      margin: 10px;
      cursor: pointer;
  }
  .book-now-c:active{
      background-color:rgb(190, 37, 196) ;
  }

.popd{
    margin: 20px;
    padding: 10px;
}

@media(max-width:700px){
  .box-image{
        height: 130px;
        width: 200px;
    }
    .box-image img{
        width: 100%;
        height: 100%;
    }
         .box img {
            width: 230px;
            height: 130px;
            padding: 10px 5px;
  }
    
        .box-c {
            width: 100%;
            padding: 10px 10px;
            padding-bottom: 20px;
            height: 25rem;
            margin-bottom: 6px;
            padding: 7px;
          }

        .row-c{
            flex-direction: column;
            width: 80%;
        }
        .popd-c{
            display: flex;
            justify-content: center;
        }
        .service-content {
            display: flex;
            justify-content: center;
          }
          .row {
            flex-direction: column;
            width: 80%;
          }

          .box-c:hover{
            box-shadow: 0 0 20px 0px rgba(201, 53, 204, 0.9);
            transition: 0.5s;
            transform: translateY(-0px);
        }
    
}
/* Slider Image*/

.container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

section .card .image {
  height: 160px;
  width: 300px;
}
section .card .image img {
  height: 100%;
  width: 100%;
}
.destiny {
  text-align: center;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  font-size: 2.3rem;
  /*margin: 30px;*/
}

/*Slider*/
.imgg {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(23, 29, 53, 0.6),
      rgba(22, 30, 65, 0.7)
    ),
    url(12.jpg);
  background: cover center no-repeat;
}
.mdi {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 30px;
}
.maindiv {
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(24, 32, 34, 0.6),
      rgba(24, 37, 39, 0.7)
    ),
    url(19.jpg);
  background-position: center;
  background-size: cover;
  animation: slider 9s infinite linear;
}
.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slider {
  0% {
    background-image: linear-gradient(
        rgba(24, 32, 34, 0.6),
        rgba(24, 37, 39, 0.7)
      ),
      url(19.jpg);
    background-position: center;
    background-size: cover;
  }
  33% {
    background-image: linear-gradient(
        rgba(24, 32, 34, 0.6),
        rgba(24, 37, 39, 0.7)
      ),
      url(20.jpg);
    background-position: center;
    background-size: cover;
  }
  66% {
    background-image: linear-gradient(
        rgba(24, 32, 34, 0.6),
        rgba(24, 37, 39, 0.7)
      ),
      url(14.jpg);
    background-position: center;
    background-size: cover;
  }
}
.offer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: rgba(3, 4, 5, 0.7);
}
.offer-details {
  padding: 10px;
}
.offer-details h2 {
  color: white;
  font-family: "Assistant", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  font-weight: 200;
}
.offer-details h5 {
    color: white;
    font-family: "Assistant", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
  }
.offf {
  font-family: "Assistant", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  color: white;
  width: 100%;
  font-size: 50px;
  font-weight: 300;
}

.t-book {
  padding: 8px;
  background: none;
  color: white;
  font-family: "Assistant", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
}

/* ---- CSS Media Query  -------*/

@media (max-width: 700px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-weight: 250;
  }
  .text-box input {
    display: none;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: rgba(17, 123, 165, 0.95);
    height: 100vh;
    width: 200px;
    text-align: left;
    top: 0;
    right: -200px;
    z-index: 1;
    transition: 1s;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 5px;
  }
  nav .openmenu {
    display: block;
    position: relative;
    left: 30px;
    cursor: pointer;
    color: white;
  }
  nav .closemenu {
    display: inline-block;
    font-size: 1.1rem;
    z-index: 1;
    position: relative;
    left: 3px;
    color: white;
  }
  li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  nav img {
    height: 57px;
    width: 150px;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgba(17, 123, 165, 0.95);
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .service-content {
    display: flex;
    justify-content: center;
  }
  .row {
    flex-direction: column;
    width: 80%;
  }

  .box {
    width: 94%;
    padding: 10px 10px;
    padding-bottom: 20px;
    height: 25rem;
    margin-bottom: 6px;
  }
  .box:hover {
    box-shadow: 0 0 20px 0px rgb(95, 137, 155);
    transition: 0.5s;
    transform: translateY(0px);
  }
  .box p {
    text-align: center;
    width: 80%;
    margin-left: 35px;
  }
  
  /*Css slider*/
  .container {
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;

  }

  .card:hover {
    box-shadow: 0 0 20px 0px rgb(131, 87, 160);
    transition: 1s;
    transform: translateY(-0px);
  }
  .card {
    height: 430px;
    margin-bottom: 15px;
    background-color: rgba(193, 125, 214, 0.25);
    border-radius: 20px;
    
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    
  }
  .destiny{
      margin: 0;
  }
  .mdi {
    height: 100vh;
    display: flex;
  }
  .offer-details {
    padding: 20px;
  }
  .offer-details h2 {
    color: white;
    font-family: "Assistant", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
  }
  .offer-details h5 {
      color: white;
      font-family: "Assistant", sans-serif;
      font-family: "Merriweather", serif;
      font-family: "PT Sans", sans-serif;
      font-weight: 200;
    }
  .offf {
    font-family: "Assistant", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "PT Sans", sans-serif;
    color: white;
    width: 100%;
    font-size: 40px;
    font-weight: 300;
  }
  .offer-book{
      padding: 10px;
  }

  .t-book {
    padding: 8px;
    background: none;
    color: white;
    font-family: "Assistant", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    border: 1px solid white;
    
  }
}
